Email Validation incorrect with domain extensions

It's validating anything that looks like a domain, but you can not have a number in a domain extension. So it is not valid. example, **timothy@gmail.com4s** is passed. You could not have a 4 or a number for that matter. anything that is **characters@characters** is passed. What is the purchase of email validation if it's not going to accurate validate a true email format. 

Infact, anything that has .com should automatically be looked at for mistakes, because how widely .com is used. There is not going to be an ext with something .com... and if there is, adjust at the time, but this needs some work. 

From `README`:
>**IMPORTANT NOTE ABOUT EMAIL VALIDATION**. As of version 1.12.0 this plugin is using the same regular expression that the [HTML5 specification suggests for browsers to use](https://html.spec.whatwg.org/multipage/forms.html#valid-e-mail-address). We will follow their lead and use the same check. If you think the specification is wrong, please report the issue to them. If you have different requirements, consider [using a custom method](http://jqueryvalidation.org/jQuery.validator.addMethod/).
In case you need to adjust the built-in validation regular expression patterns, please [follow the documentation](http://jqueryvalidation.org/jQuery.validator.methods/).

@Arkni Thanks for the clarification. I did not see the readme, however common sense I get the point with domain extensions being expanded, but numbers, integers should never be allowed. In practical use this is useless, it should be the other way around, use a custom method if you want a larger range of validation format. (common use, numbers will never be in a domain extension) 

> common use, numbers will never be in a domain extension

That doesn't mean the standard. According to [RFC822](http://tools.ietf.org/html/rfc822#section-6.1), [RFC5322](http://tools.ietf.org/html/rfc5322#section-3.4) and [RFC5321](http://tools.ietf.org/html/rfc5321#section-4.1.2) the domain part of an email can contain any CHAR except specials, SPACE and CTLs.